/*About L1 Page*/
/*sponsor section*/
.sponsor_container .sponsor_row {
    flex-wrap: wrap;
    padding: 66px 0 122px;
}

.sponsor_container .sponsor_col {
    width: 23%;
    margin-right: 2.66%;
    padding: 22px 15px 23px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    align-items: center;
}

.sponsor_container .sponsor_col:nth-child(4n) {
    margin-right: 0;
}

html[dir="rtl"] .sponsor_container .sponsor_col {
    margin-right: 0;
    margin-left: 2.66%;
}

html[dir="rtl"] .sponsor_container .sponsor_col:nth-child(4n) {
    margin-left: 0;
}

.sponsor_container .sponsor_img {
    width: 55px;
    height: 55px;
    background: #000;
    border-radius: 50%;
    margin-right: 18px;
    flex-shrink: 0;
}

html[dir="rtl"] .sponsor_container .sponsor_img {
    margin-right: 0;
    margin-left: 18px;
}

.sponsor_container .sponsor_text {
    font-weight: 800;
    line-height: 30px;
    position: relative;
    top: 0.15em;
    font-size: 30px;
    display: inline-block;
    word-break: break-word;
}

/*our vision section*/
.our_vision_container .our_vision_wrapper {
    background: #fff;
    padding: 55px 30px 105px;
}

.our_vision_container .our_vision_row {
    margin-bottom: 125px;
}

.our_vision_container .our_vision_row:last-child {
    margin-bottom: 0;
}

.our_vision_container .our_vision_row.revRow {
    flex-direction: row-reverse;
}

.our_vision_container .our_vision_row > div {
    width: 50%;
}

.our_vision_container .our_vision_Desc {
    padding-right: 30px;
}

html[dir="rtl"] .our_vision_container .our_vision_Desc {
    padding-right: 0;
    padding-left: 30px;
}

.our_vision_container .our_vision_Desc h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.our_vision_container .our_vision_Desc p {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 34px;
}

.our_vision_container .our_vision_Desc *:last-child {
    margin-bottom: 0;
}

.our_vision_container .our_vision_img {
    padding-left: 100px;
}

html[dir="rtl"] .our_vision_container .our_vision_img {
    padding-left: 0;
    padding-right: 100px;
}

.our_vision_container .imgDesc {
    margin-top: 20px;
    font-size: 18px;
}

.our_vision_container .our_vision_wrapper.revRow {
    flex-direction: row-reverse;
}

.our_vision_container .our_vision_row.revRow .our_vision_Desc {
    padding-right: 0;
    padding-left: 30px;
}

html[dir="rtl"] .our_vision_container .our_vision_row.revRow .our_vision_Desc {
    padding-right: 30px;
    padding-left: 0px;
}

.our_vision_container .our_vision_row.revRow .our_vision_img {
    padding-left: 0;
    padding-right: 100px;
}

html[dir="rtl"] .our_vision_container .our_vision_row.revRow .our_vision_img {
    padding-right: 0;
    padding-left: 100px;
}

.our_vision_container .download_links_wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.our_vision_container .download_links_wrapper > * {
    border-bottom: 1px solid #000;
}

.our_vision_container .download_links_wrapper h2 {
    font-size: 16px;
    line-height: 140%;
    font-weight: 800;
    text-transform: uppercase;
    padding: 12px 0;
}

.our_vision_container .download_links_wrapper .download_link {
    width: 100%;
    padding: 12px 0;
    color: #212121;
    text-decoration: none;
    padding-right: 35px;
    position: relative;
}

html[dir="rtl"] .our_vision_container .download_links_wrapper .download_link {
    padding-left: 35px;
    padding-right: 0;
}

.our_vision_container .download_links_wrapper .download_link .arrowicon {
    display: inline-block;
    margin-top: -2px;
    position: absolute;
    right: 0;
    top: 25px;
    transform: translateY(-50%);
}

html[dir="rtl"] .our_vision_container .download_links_wrapper .download_link .arrowicon {
    left: 0;
    right: auto;
    transform: rotate(180deg) translateY(50%);
}

/*Media Mentions*/
.artist_container.about_page {
    padding-bottom: 173px;
}

.artist_container.about_page .artist_inner {
    padding: 63px 0;
}

.artist_container.about_page .artist_col .artist_content strong {
    text-transform: uppercase;
}

/*Collab Section*/
.collabSection .programRows.about_page {
    padding-bottom: 47px;
}


/*Program L2 Page*/
.programl2 .programMainHeading {
    padding-bottom: 94px;
}

.programl2 .artistRows a.exploreBtn {
    background: #fff;
    color: #000;
    border-color: #000;
}

.media_contact_section {
    width: 100%;
    background-image: url(../images/bg-black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 154px 130px;
    color: #fff;
    text-align: center;
    align-items: center;
}

.media_contact_section h2 {
    font-weight: bold;
    font-size: 40px;
    max-width: 270px;
}

.media_contact_section p {
    padding: 0 39px 0 29px;
    flex-grow: 1;
    font-size: 24px;
    line-height: 138%;
}

.media_contact_section .exploreBtn {
    margin: 0;
}

/*Locations Section*/
.location_section .artist_inner {
    padding: 131px 15px 79px;
}

.location_frame_wrapper {
    position: relative;
    height: 375px;
    width: 100%;
}

.location_frame_wrapper .location_frame {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.location_direction_row {
    padding: 41px 0 180px;
}

.location_direction_row .direction_col {
    width: 23%;
    margin-right: 2.66%;
}

.location_direction_row .direction_col:nth-child(4n) {
    margin-right: 0;
}

.location_direction_row .direction_col .filters .filter .dropDownFilter .selectedOption,
.location_direction_row .direction_col .filters .filter .dropDownFilter .optionListing li {
    width: 100%;
}

.location_direction_row .direction_col h4 {
    font-weight: 800;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 1em;
}

.location_direction_row .direction_col p {
    font-size: 16px;
    line-height: 130%;
}

/*ticket Section*/
.tickets_section .artist_inner {
    padding-top: 0;
    padding-bottom: 60px;
}

.tickets_section .tickets_wrapper {
    padding: 0;
    word-break: break-word;
}

html[dir="rtl"] .tickets_section .tickets_wrapper {
    padding-left: 0;
}

.tickets_section .ticket_row {
    width: 100%;
    padding: 29px 0;
    border-top: 1px solid #000;
}

.tickets_section .ticket_row:last-child {
    border-bottom: 1px solid #000;
    color: #212121;
}

.tickets_section .ticket_row .event_details {
    width: 25%;
    color: #212121;
}

.tickets_section .ticket_row .buyButtons {
    flex-direction: row;
    align-items: center;
    width: auto;
    margin: 0 0 0 auto;
}

html[dir="rtl"] .tickets_section .ticket_row .buyButtons {
    margin-left: 0;
    margin-right: auto;
}

html[dir="rtl"] .tickets_section .ticket_row .buyButtons .buyBtn:last-child {
    margin-left: 0;
    margin-right: 30px;
}

.tickets_section .ticket_row .typeLocation {
    width: 35%;
    margin-top: 0;
    align-items: center;
}

.tickets_section .ticket_row .typeLocation .type {
    margin-left: 4%;
}

html[dir="rtl"] .tickets_section .ticket_row .typeLocation .type {
    margin-left: 0;
    margin-right: 4%;
}

.tickets_section .ticket_row .buyButtons .buyBtn {
    margin-bottom: 0;
}

.tickets_section .ticket_row .buyButtons .buyBtn:last-child {
    margin-left: 30px;
}

/*Volunteer Section*/
.volunteer_section .artist_inner {
    padding: 121px 0 64px;
}

.volunteer_section .artist_inner h2 {
    margin-bottom: 36px;
}

.volunteer_section .artist_inner p {
    margin-bottom: 31px;
}

.volunteer_section .artist_inner .buyBtn {
    text-transform: uppercase;
    margin-bottom: 0;
}

.volunteer_section .about_explore .about_inner {
    padding-bottom: 35px;
}

.volunteer_section .about_explore {
    padding-bottom: 64px;
}


/*Artist L2*/
.artist_l2 .programMainHeading {
    padding-top: 203px;
    padding-bottom: 99px;
    text-transform: uppercase;
}

.artist_carousel {
    margin-bottom: 65px;
}

.artistSlider .owl-nav {
    position: absolute;
    top: 35%;
    /*max-width: 1200px;*/
    left: 50%;
    transform: translateX(-50%);
    width: 105%;
    display: flex;
    justify-content: space-between;
}

.artistSlider .owl-nav .owl-prev {
    /*opacity: 0;*/
    transform: scaleX(-1);
}

.owl-nav button.disabled {
    opacity: 0;
}

.artistSlider .owl-nav button {
    height: 50px;
    width: 50px;
    background: #000 !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    position: relative;
    border: 0;
}

.artistSlider .owl-nav button:after {
    content: "";
    height: 11px;
    width: 26px;
    background-image: url('../images/sliderArrow.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-repeat: no-repeat;
}

.artistSlider .owl-stage-outer {
    margin-bottom: 25px;
}

.artistSlider .owl-thumbs {
    display: flex;
}

.artistSlider .owl-thumbs .owl-thumb-item {
    width: 19%;
    margin-right: 1.25%;
    border: 0;
    outline: 0;

}

.artist_detail_wrapper {
    padding-bottom: 135px;
}

.artist_detail_wrapper .artist_detail_row .artist_col_detail {
    width: 65%;
    padding: 43px 15px 0 0;
}

.artist_detail_wrapper .artist_detail_row .artist-sidebar {
    width: 35%;
    padding: 43px 0px 43px 33px;
    border-left: 1px solid #000;
}

.artist_detail_row .artist_col_detail .artist_card {
    margin-bottom: 68px;
}

.artist_detail_row .artist_col_detail .artist_card .artist_img {
    margin-right: 56px;
}

.artist_detail_row .artist_col_detail .artist_card .artist_img > img {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.artist_detail_row .artist_col_detail .artist_card .artist_detail {
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.artist_detail_row .artist_col_detail .artist_card .artist_detail .name {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
}

.artist_detail_row .artist_col_detail .artist_card .artist_detail .name h4 {
    font-weight: 800;
}

.artist_detail_row .artist_col_detail .artist_card .artist_detail .social a {
    width: 41px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist_detail_row .artist_col_detail .artist_card .artist_detail .social i {
    color: #000;
    font-size: 18px;
}

.artist_detail_wrapper .artist_detail_row .artist_col_detail .desc_area p {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 1em;
}

.artist_detail_wrapper .artist_detail_row .artist_col_detail .desc_area *:last-child {
    margin-bottom: 0;
}

.artist-sidebar .sidebar_program:not(:first-child) {
    margin-top: 1em;
}

.artist-sidebar .upcomming_dates {
    margin-top: 50px;
}

.artist-sidebar .upcomming_dates .event_list h4 {
    font-weight: 800;
}

.artist-sidebar .upcomming_dates p {
    position: relative;
    display: flex;
    align-items: center;
}

.artist-sidebar .upcomming_dates p > img {
    width: 37px;
    height: 36px;
    object-fit: scale-down;
    margin-right: 2px;
}

.artist-sidebar .upcomming_dates p span {
    position: relative;
    top: 0.2em;
}

.artist-sidebar .upcomming_dates .event_info {
    font-weight: 800;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #000;
}

.artist-sidebar .upcomming_dates .event_list {
    margin-bottom: 25px;
}

.artist-sidebar .upcomming_dates .event_list:last-child {
    padding-bottom: 13px;
    margin: 0;
    border-bottom: 1px solid #000;

}

.artist-sidebar a.buyBtn {
    margin: 30px 0 0;
}

html[dir="rtl"] .artist_detail_wrapper .artist_detail_row .artist_col_detail {
    padding-right: 0;
    padding-left: 15px;
}

html[dir="rtl"] .artist_detail_row .artist_col_detail .artist_card .artist_img {
    margin-left: 56px;
    margin-right: 0;
}

html[dir="rtl"] .artist_detail_wrapper .artist_detail_row .artist-sidebar {
    border-left: 0;
    border-right: 1px solid #000;
    padding-left: 0;
    padding-right: 33px;
}

.artist_container.artist_l2 {
    background: #fff;
    padding-bottom: 93px;
}

.artist_container.artist_l2 .artist_inner {
    padding-top: 78px;
}

.artist_container.artist_l2 .seeAll {
    margin-top: 65px;
    color: #000;
    border-color: #000;
}

.owl-thumbs {
    display: none;
}


/*Event L2*/
.artist_detail_wrapper.eventL2 .artist_detail .social {
    align-items: center;
    margin-top: 1em;
}

.artist_detail_wrapper.eventL2 .artist_detail_row .artist_col_detail .artist_card .artist_detail .social i {
    color: #949494;
}

.artist_detail_wrapper.eventL2 .artist_detail_row .artist_col_detail .artist_card {
    margin-bottom: 87px;
}

/*about l2*/
.aboutl2.artist_page {
    padding-bottom: 200px;
}

.aboutl2.artist_page .programMainHeading {
    padding-bottom: 192px;
}

.aboutl2 .our_vision_container .our_vision_wrapper {
    padding: 40px 30px 45px;
}

.aboutl2 .location_section .artist_inner {
    padding-top: 74px;
    padding-bottom: 60px;
}

.aboutl2 .location_directions {
    background: #fff;
}

.aboutl2 .artist_container.programs_container .artist_inner {
    padding-top: 70px;
    padding-bottom: 93px;
}

.aboutl2 .tickets_section {
    margin-top: 120px;
    padding-bottom: 75px;
    background: #fff;
}

.aboutl2 .tickets_section .artist_inner {
    padding-top: 45px;
    padding-bottom: 50px;
}

/* Sculpture Symposium L2*/
.ssl2.artist_page .programMainHeading {
    padding-bottom: 80px;
}

.ssl2 .calender_Section .artist_inner {
    padding-top: 0;
}

.ssl2 .artistRowSection .artist_inner {
    padding-top: 11px;
}

.ssl2 .artist_container.programs_container .artist_inner {
    padding-top: 82px;
}

.ssl2 .artist_container.programs_container .artist_container {
    padding-bottom: 65px;
}


/*Event L1*/
.eventl1.artist_page .programMainHeading {
    padding-bottom: 20px;
}

.eventl1 .filters {
    position: relative;
    z-index: 8;
}

.eventl1 .artistRows .col_area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: -182px;
}

.eventl1 .artistRows .col_area:last-child {
    margin-bottom: 100px;
}

.eventl1 .artistRows .col_area .artistRow {
    width: 40%;
    margin: 0;
}

.eventl1 .artistRows .col_area .artistRow .artistImage img {
    width: 100%;
}

.eventl1 .artistRows .col_area .event_date {
    position: absolute;
    left: 40%;
    width: 20%;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eventl1 .artistRows .col_area .event_date::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    background: #000;
    height: 1px;
}

.eventl1 .artistRows .col_area .event_date h1 {
    font-size: 100px;
    line-height: 0.5;
    font-weight: 800;
    margin-bottom: 15px;
    letter-spacing: -0.03em;
    overflow: visible;
}

.eventl1 .artistRows .col_area .event_date h4 {
    font-weight: 800;
    font-size: 24px;
}

.eventl1 .artistRows .col_area .event_date p {
    font-size: 24px;
}

.eventl1 .artistRows .col_area .col_item:nth-child(3) {
    top: 235px;
}

.eventl1 .artistRows .col_area .col_item:nth-child(3)::after {
    left: auto;
    right: 0;
}

.eventl1 .artistRows .col_area .col_item:nth-child(4) {
    margin-top: 235px;
}

.eventl1 .artistRows .artistRow .artistContent > p,
.eventl1 .artWorkNames p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.eventl1.about_explore {
    padding-bottom: 66px;
}

.eventl1.vision_container {
    padding-bottom: 0;
}

/*No event Section*/
.event_null_section .no_event {
    padding: 65px 0 168px;
    text-align: center;
    position: relative;
}

.event_null_section .no_event::after {
    content: '';
    width: 100%;
    max-width: 370px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #000;
    height: 1px;
    position: absolute;
    
}

.event_null_section .no_event h1 {
    font-size: 40px;
    line-height: 110%;
    font-weight: 800;
}

.event_null_section .calender_Section .artist_inner {
    padding-top: 166px;
}

.event_null_section .artist_container.calender_Section {
    padding-bottom: 233px;
}

html[dir="rtl"] .eventl1 .artistRows .col_area .event_date::after {
    left: auto;
    right: 0;
}

html[dir="rtl"] .eventl1 .artistRows .col_area .col_item:nth-child(3)::after {
    left: 0;
    right: auto;
}

@media(max-width: 1024px) {

    /*Artist L2*/
    .artistSlider .owl-nav {
        width: 95%;
    }

}

@media(max-width:1023px) {
    .sponsor_container .sponsor_col {
        width: 48%;
        margin-right: 4%;
    }

    .sponsor_container .sponsor_col:nth-child(4n) {
        margin-right: 4%;
    }

    .sponsor_container .sponsor_col:nth-child(2n) {
        margin-right: 0;
    }

    html[dir="rtl"] .sponsor_container .sponsor_col {
        margin-left: 4%;
        margin-right: 0;
    }

    html[dir="rtl"] .sponsor_container .sponsor_col:nth-child(4n) {
        margin-left: 0;
        margin-right: 4%;
    }

    html[dir="rtl"] .sponsor_container .sponsor_col:nth-child(2n) {
        margin-right: 0%;
        margin-left: 0;
    }

    .our_vision_container .our_vision_row {
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    .our_vision_container .our_vision_row > div {
        width: 100%;
    }

    .our_vision_container .our_vision_Desc {
        padding-right: 0;
        margin-bottom: 100px;
    }

    .our_vision_container .our_vision_img {
        padding-left: 0;
    }

    .our_vision_container .our_vision_img .cardImg {
        width: 100%;
    }

    .our_vision_container .our_vision_img .cardImg,
    .our_vision_container .our_vision_img .imgDesc {
        padding: 0 20px;
    }

    .our_vision_container .our_vision_row.revRow .our_vision_Desc {
        padding-left: 0;
    }

    .our_vision_container .our_vision_row.revRow .our_vision_img {
        padding-right: 0;
    }

    .our_vision_container .download_links_wrapper {
        margin-top: 100px;
    }

    html[dir="rtl"] .our_vision_container .our_vision_img {
        padding-right: 0;
    }

    html[dir="rtl"] .our_vision_container .our_vision_row.revRow .our_vision_img {
        padding-left: 0;
    }

    /*Program L2 Page*/
    .artistRows a.exploreBtn {
        margin-bottom: 62px;
    }


    .media_contact_section {
        padding: 84px 30px;
        flex-direction: column;
    }

    .location_section .artist_inner {
        padding: 75px 30px 77px;
    }

    .location_section .artist_inner h2 {
        margin-bottom: 0;
    }

    .media_contact_section h2 {
        margin-bottom: 25px;
        max-width: 100%;
        font-size: 30px;
    }

    .media_contact_section p {
        line-height: 18.2px;
        font-size: 14px;
        margin-bottom: 50px;
    }

    .location_frame_wrapper {
        height: 402px;
    }

    .location_direction_row {
        padding-bottom: 66px;
        flex-direction: column;
    }

    .location_direction_row .direction_col {
        width: 100%;
        margin-bottom: 40px;
    }

    .tickets_section .artist_inner {
        padding-bottom: 52px;
    }

    .tickets_section .artist_inner h2 {
        margin-bottom: 0;
    }

    .tickets_section .tickets_wrapper {
        margin: 0;
    }

    .tickets_section .ticket_row {
        padding: 20px 0;
        flex-wrap: wrap;
    }

    .tickets_section .ticket_row:last-child {
        border-bottom: 0;
    }

    .tickets_section .ticket_row .event_details,
    .tickets_section .ticket_row .typeLocation,
    .tickets_section .ticket_row .buyButtons {
        width: 100%;
    }

    .tickets_section .ticket_row .event_details {
        margin-bottom: 20px;
    }

    .tickets_section .ticket_row .typeLocation {
        margin-bottom: 15px;
        max-width: 100%;
    }

    .tickets_section .ticket_row .buyButtons .buyBtn {
        width: 48%;
    }

    .tickets_section .ticket_row .buyButtons .buyBtn:last-child {
        margin-left: 0;
    }

    .volunteer_section .about_explore > img {
        height: 403px;
        object-fit: cover;
    }

    .volunteer_section .about_explore {
        padding-bottom: 0;
    }

    /*about l2*/
    .aboutl2.artist_page .programMainHeading {
        padding-bottom: 100px;
    }
    
    /*Event Null Section*/
    .event_null_section .no_event {
        padding: 60px 0;
    }
    
    .event_null_section .calender_Section .artist_inner {
        padding-top: 60px;
    }
    
    .event_null_section .artist_container.calender_Section {
        padding-bottom: 60px;
    }


}

@media (max-width: 767px) {
    .sponsor_container .sponsor_row {
        padding: 34px 0 82px;
    }

    .sponsor_container .sponsor_col {
        padding: 13px 15px 14px;
    }

    .sponsor_container .sponsor_img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .sponsor_container .sponsor_text {
        font-size: 14px;
        line-height: 1;
    }

    .our_vision_container {
        position: relative;
    }

    .our_vision_container::after {
        content: ' ';
        background: #fff;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .our_vision_container .our_vision_wrapper {
        padding: 43px 15px 59px;
        position: relative;
        z-index: 2;
    }

    .our_vision_container .our_vision_Desc h2 {
        font-size: 20px;
        line-height: 110%;
    }

    .our_vision_container .our_vision_Desc p {
        font-size: 14px;
        line-height: 150%;
    }

    /*About*/
    .artist_container.about_page {
        padding-top: 60px;
        padding-bottom: 44px;
    }

    /*Program L2*/
    .programl2 .programMainHeading {
        padding-bottom: 60px;
        padding-top: 69px;
    }

    .programl2 .filterSection .filters {
        padding-bottom: 60px;
    }

    .programl2 .artistRow {
        background: #fff;
    }

    .programl2 .location_directions {
        background: #fff;
    }

    .tickets_section {
        background: #fff;
    }

    .volunteer_section {
        background: #fff;
    }

    /*Artist L2*/
    .artist_l2 .programMainHeading {
        padding-top: 118px;
        padding-bottom: 50px;
    }

    .artist_l2 .programMainHeading .mainHeading {
        margin-bottom: 20px;
    }

    .artist_carousel {
        margin-bottom: 120px;
    }

    .artistSlider .owl-nav {
        top: 43%;
    }

    .artistSlider .owl-nav > button {
        width: 40px;
        height: 40px;
    }

    .artistSlider .owl-thumbs {
        display: none;
    }

    .artist_detail_wrapper {
        padding-bottom: 0;
    }

    .artist_detail_wrapper .artist_detail_row {
        flex-wrap: wrap;
        padding: 0 15px;
    }

    .artist_detail_wrapper .artist_detail_row .artist_col_detail,
    .artist_detail_wrapper .artist_detail_row .artist-sidebar {
        width: 100%;
    }

    .artist_detail_wrapper .artist_detail_row .artist_col_detail {
        padding: 0 0 30px;
    }

    .artist_detail_row .artist_col_detail .artist_card {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .artist_detail_row .artist_col_detail .artist_card .artist_img {
        margin-right: 0;
        margin-top: -60px;
    }

    .artist_detail_row .artist_col_detail .artist_card .artist_detail {
        margin-top: 40px;
        text-align: center;
    }

    .artist_detail_row .artist_col_detail .artist_card .artist_detail .social {
        margin-top: 1em;
        justify-content: center;
    }

    .artist_detail_wrapper .artist_detail_row .artist_col_detail .desc_area p {
        font-size: 16px;
        line-height: 140%;
    }

    .artist_detail_wrapper .artist_detail_row .artist-sidebar {
        border-left: 0;
        border-top: 1px solid #000;
        padding: 30px 0 20px;
    }

    .artist_container.artist_l2 .artist_inner {
        padding-top: 75px;
    }

    .artist_container.artist_l2 #artist_slider .owl-nav {
        display: none;
    }

    .artist_container.artist_l2 #artist_slider .artist_col .artist_content {
        padding: 15px;
    }

    .artist_container.artist_l2 #artist_slider .artist_col .artist_content p {
        margin-bottom: 72px;
    }

    .artist_container.artist_l2 #artist_slider .artist_col .artist_content a.seeArtist {
        margin-top: 0;
    }

    .artist_container.artist_l2 #artist_slider .artist_col .artist_content a.seeArtist span img {
        width: 21px;
    }

    .artist_container.artist_l2 a.seeAll {
        display: none;
    }

    .artist_container.artist_l2 {
        padding-bottom: 78px;
        background-image: url(../images/bg-white.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed !important;
    }

    .artist_l2.about_explore > img {
        height: 403px;
        object-fit: cover;
    }

    .about_explore .about_inner {
        padding-bottom: 50px;
    }

    .about_explore.artist_l2 {
        padding-bottom: 11px;
    }

    html[dir="rtl"] .artist_detail_row .artist_col_detail .artist_card .artist_img {
        margin-left: 0;
    }

    html[dir="rtl"] .artist_detail_wrapper .artist_detail_row .artist-sidebar {
        padding-right: 0;
        border-right: 0;
    }

    .eventL2 .artist_carousel {
        margin-bottom: 50px;
    }

    /*About L2*/
    .aboutl2 .our_vision_container .our_vision_wrapper {
        padding: 36px 15px 39px;
    }

    .aboutl2 .our_vision_container .our_vision_Desc h2 {
        margin-bottom: 50px;
    }

    .aboutl2 .location_section .artist_inner {
        padding-top: 88px;
        padding-bottom: 77px;
    }

    .aboutl2 .artist_container.programs_container .artist_inner {
        padding-top: 42px;
        padding-bottom: 53px;
    }

    .aboutl2 #programs_slider .artist_col .artist_content a.seeArtist {
        margin-top: 72px;
    }

    .aboutl2 .tickets_section {
        margin-top: 26px;
        padding-bottom: 38px;
    }

    .aboutl2 .tickets_section .artist_inner {
        padding-top: 60px;
    }

    .aboutl2.artist_page {
        padding-bottom: 0;
    }

    /*Event L1*/
    .eventl1.artist_page .programMainHeading {
        padding-bottom: 90px;
    }

    .eventl1.artist_page .filterSection .filters {
        padding-bottom: 120px;
    }

    .eventl1.artist_page .filterSection .filters .filter:nth-child(1),
    .eventl1.artist_page .filterSection .filters .filter:nth-child(2) {
        width: 100%;
        margin-right: 0;
    }

    .eventl1.artist_page .filterSection .filters .filter {
        margin-bottom: 20px;
    }

    .eventl1.artist_page .filterSection .filters .filter:last-child {
        margin-bottom: 0;
    }

    .eventl1 .artistRows .col_area {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .eventl1 .artistRows .col_area .event_date {
        position: relative;
        left: auto;
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .eventl1 .artistRows .col_area .event_date::after {
        width: 100%;
    }

    .eventl1 .artistRows .col_area .event_date h1 {
        line-height: 0.4;
        padding-top: 0.3em;
    }

    .eventl1 .artistRows .col_area .event_date p br {
        display: none;
    }

    .eventl1 .artistRows .col_area .event_date p strong::after {
        content: '/';
        position: relative;
        font-weight: 400;
        padding: 0 5px;
    }

    .eventl1 .artistRows .col_area .artistRow {
        width: 100%;
        margin-bottom: 5px;
    }

    .eventl1 .artistRows .col_area .col_item:nth-child(3) {
        top: 0;
    }

    .eventl1 .artistRows .col_area .col_item:nth-child(4) {
        margin-top: 0;
    }

    .eventl1 .artistRows .col_area:last-child {
        margin-bottom: 46px;
    }

    .eventl1.about_explore {
        padding-bottom: 0;
    }

    .eventl1.vision_container {
        padding-top: 0;
    }

    html[dir="rtl"] .eventl1 .filterSection .filters .filter:first-child {
        margin-left: 0;
    }
    
    /*Event Null*/
    .eventl1.artist_page .filterSection .filters {
        padding-bottom: 0px;
    }


}
